/* =========================
    CONFIGURACIÓN GLOBAL
========================= */

:root{
--bg:#f5f5f5;
--card:#ffffff;
--text:#111;
--whiteText:#f5f5f5;
--header:#d81b81;
--headerTop:#ad1457;
--border:#e0e0e0;
--welement:#ffffff;
--gris:#555;
--purple:#a259ff;
--font-scale: 1;
}

/* modo oscuro */
body.dark{
--bg:#121212;
--card:#1e1e1e;
--text:#f1f1f1;
--whiteText:#d6d6d6;
--header:#7b1fa2;
--headerTop:#4a148c;
--border:#333;
--welement:#464646;
--gris:#aaa9a9;
}

/* cuando está activado */
body.bigFont{
--font-scale: 1.3;
}

/* =========================
      Reset/ Base
========================= */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:var(--bg);
font-family:Arial, Helvetica, sans-serif;
color:var(--text);
opacity:0;
transform:translateY(20px);
transition:all .35s ease;
font-size: calc(16px * var(--font-scale));
}

body.loaded{
    opacity:1;
    transform:translateY(0);
}

body.fade-out{
    opacity:0;
    transform:translateY(-20px);
}