/* =========================
        SUCCESS PAGE
========================= */

.successPage{
    min-height:80vh;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:30px;
}

.successCard{
    width:100%;
    max-width:700px;

    background:var(--card);

    border:1px solid var(--border);
    border-radius:24px;

    padding:40px;

    box-shadow:0 10px 30px rgba(0,0,0,0.08);

    animation:fadeUp .5s ease;
}

.successIcon{
    width:90px;
    height:90px;

    margin:auto auto 25px;

    border-radius:50%;

    background:linear-gradient(
        135deg,
        #d81b81,
        #a259ff
    );

    display:flex;
    align-items:center;
    justify-content:center;

    color:white;
    font-size:42px;
    font-weight:bold;

    animation:pop .4s ease;
}

.successCard h1{
    text-align:center;
    margin-bottom:12px;
}

.successText{
    text-align:center;
    color:var(--gris);
    margin-bottom:30px;
}

.orderBox{
    background:var(--welement);

    border-radius:16px;

    padding:20px;

    text-align:center;

    margin-bottom:20px;
}

.orderBox span{
    color:var(--gris);
    font-size:14px;
}

.orderBox h2{
    margin-top:8px;
    color:#d81b81;
}

.successProduct{
    display:flex;
    align-items:center;
    gap:20px;

    padding:20px 0;

    border-bottom:1px solid var(--border);
}

.successProduct img{
    width:100px;
}

.successProduct p{
    color:var(--gris);
    font-size:14px;
}

.successTotal{
    display:flex;
    justify-content:space-between;

    margin-top:25px;

    font-size:22px;
}

.successButtons{
    margin-top:30px;
}

@keyframes pop{
    0%{
        transform:scale(.5);
        opacity:0;
    }

    100%{
        transform:scale(1);
        opacity:1;
    }
}

@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(20px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

/* =========================
    BOTÓN LINK BONITO
========================= */

.successLinkBtn{

    display:flex;
    justify-content:center;
    align-items:center;
    color: var(--purple);
    text-decoration:none;
}